/* Styling for menus on the site */

.top-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 4%;
    width: 100%;
}

.menu-item {
    padding: 10px;
}

.top-menu .menu-item {
    float: left;
    border-right: 1px solid white;
    height: 100%;
}

.side-menu {
    position: fixed;
    float: left;
    left: 0px;
    top: 4%;
    height: 100%;
    width: 20%;
    border-right: 3px solid #303030;
}

.side-menu .menu-item {
    border-bottom: 2px solid #303030;
    list-style: none;
}
