/* Styling for menus on the site */

.top-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}

.menu-item {
    display: inline-block;
    line-height: 1em;
    padding: 0.5em;
}

.top-menu .menu-item {
    float: left;
    /*border-right: 1px solid white;*/
}

.side-menu {
    position: fixed;
    left: -20%;
    top: 2em;
    height: 100%;
    width: 20%;
    /*border-right: 3px solid #404040;*/
}

.side-menu .menu-item {
    /*border-bottom: 2px solid #404040;*/
    list-style: none;
    width: 100%;
}
