/* Styling for menus on the site */

.nav-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}

.menu-item {
    float: left;
    padding: 10px;
    border-right: 1px solid white;
}
