* {
    font-family: "Verdana", sans-serif;
}

body {
    background-color: #F0F0F0;
}

.content {
    margin-top: 50px;
}

.plain {
    color: #001020;
}

.contrast {
    color: #F0F0F0;
}

a.contrast {
    text-decoration: none;
}

a.contrast:hover {
    color: #FFFFFF;
}
