* {
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    color: inherit;
}

body {
    background-color: #FFFFFF;
}

.content {
    margin-top: 50px;
}

.plain {
    color: #001020;
}

.contrast {
    color: #FFFFFF;
}

.contrast-container {
    background-color: #4868A0;
}

a {
    text-decoration: none;
    color: #385890;
}

a:hover {
    color: #184890;
    text-decoration: underline;
}

a.contrast:hover {
    color: white;
}
