/*scheme colors: 262416, 3F3C29, AC8C18, 76988F, FFFFFF*/

* {
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    color: inherit;
}

body {
    background-color: #FFFFFF;
}

li {
    list-style: none;
}

.content {
    margin-top: 50px;
}

.plain {
    color: #201000;
}

.contrast {
    color: #FFFFFF;
}

.contrast-container {
    background-color: #303030;
}

a {
    text-decoration: none;
    color: #0070A0;
}

a:hover {
    color: #003860;
    text-decoration: underline;
}

a.contrast:hover {
    color: white;
}
