* {
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    color: inherit;
    background-color: inherit;
}

p {
    margin: 5px 0px 12px 5px;
}

body {
    background-color: #FFFFFF;
}

.invisible {
    display: none;
}

.content {
    margin-top: 2em;
    margin-left: 0%;
    position: relative;
}

.contrast {
    color: white;
    background-color: inherit;
}

a.contrast:hover {
    color: white;
    background-color: #404040;
    transition-duration: 0.2s;
}

button {
    border: none;
    outline: none;
    /*transition-duration: 0.2s;*/
    background-color: inherit;
}

button:hover {
    background-color: #40A040;
    color: white;
    cursor: pointer;
}

.checkbox {
    border: 2px solid #303030;
    border-radius: 0.25em;
    margin: 0.5em;
    width: 1em;
    height: 50%;
}

.complete {
    color: #505050;
}

.complete .checkbox {
    background-color: #AAAAAA;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 6em;
}

.dropdown button {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.half-selected {
    background-color: #EEEEEE;
}

.contrast-container {
    background-color: #303030;
}

a {
    text-decoration: none;
    color: #0070A0;
}

a:hover {
    color: #003860;
    text-decoration: underline;
}

.task {
    border-bottom: 1px solid #303030;
    height: 2em;
    list-style: none;
}

.collapsed {
    border-bottom: 2px solid #40A040;
}

.full-height {
    height: 100%;
}
